/*-- scss:defaults --*/

$body-bg: #fff;
$body-color: #2F4D5D;
$link-color: #42affa;
$presentation-heading-color: #1D8DB0;
$code-block-border-color: #2F4D5D;
$presentation-title-slide-text-align: left;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.reveal #title-slide h1{
    color: $body-bg;
    padding-top: vh40;
    padding-bottom: 110px;
    font-size: 2.3em;
}

.reveal .footer {
    color: $presentation-heading-color;
    text-align: right;
}

.reveal section.level1 h1 {
    color: $presentation-heading-color;
}

.reveal div.quarto-title-author-name, p.date {
    font-size: 30px;
    padding-top: 10px;
}

